

.container {
    display: grid;
    place-items: center;
    max-width: 500px;   
    margin-left: 35%;
    box-shadow: 2px 1px 3px 1px ;
    border-radius: 8px;
}


.rock {
    background-color: green;
    padding: 5px;
    border: transparent;
    border-radius: 8px;
    font-size: 50px;
    
}

.scissors {
    background-color: red;
    padding: 5px;
    border: transparent;
    border-radius: 8px;
    font-size: 50px;
}

.paper {
    background-color: blue;
    padding: 5px; 
    border: transparent;
    border-radius: 8px;
    font-size: 50px;
}