body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.video-container {
    position: relative;
    height: 100%;
    width: 100%;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que el video cubra todo el contenedor */
    transform: translate(-50%, -50%);
    z-index: -1; /* Coloca el video detrás del contenido */
}

.contenido {
    background-color: rgba(116, 116, 116, 0.555);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
}

h1 {
    font-size: 5rem;
    margin: 0;
    margin-bottom: 25%;
}

button {
    font-size: 40px;
    padding: 0;
    border: none;
    background-color: transparent;
    color: white; /* Asegura que el botón sea visible sobre el video */
    cursor: pointer;
    margin-top: 20px; /* Añade un margen superior para separar el botón del h1 */

}
